<%= form_for(@loseweight,:class=>'well') do |f| %>
  <% if @loseweight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loseweight.errors.count, "error") %> prohibited this loseweight from being saved:</h2>

      <ul>
      <% @loseweight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    体重：<br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    日期：<br />
    <%= f.date_select :update_date %>
  </div>
  <div class="field">
    说点什么吧：<br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit("提交") %>
  </div>
<% end %>
