<h1>蠢耸的减肥日志</h1>

<table>
  <tr>
    <th>重量</th>
    <th>臀围</th>
    <th>大腿围</th>
    <th>日期</th>
	<th>
		备注
	</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loseweights.each do |loseweight| %>
  <tr>
    <td><%= loseweight.weight %></td>
    <td><%= loseweight.hipline %></td>
    <td><%= loseweight.legline %></td>
    <td><%= loseweight.update_date %></td>
	<td><%= loseweight.remark %></td>
    <td><%= link_to '显示', loseweight %></td>
    <td><%= link_to '编辑', edit_loseweight_path(loseweight) %></td>
    <td><%= link_to '删除', loseweight, confirm: '确定要删除此项吗?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '填写日志', new_loseweight_path %>
