
<table class="table table-bordered">
	<thead>
  <tr>
    <th>重量</th>
    <th>臀围</th>
    <th>大腿围</th>
    <th>日期</th>
	<th>填写时间</th>
	<th>
		备注
	</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @loseweights.each do |loseweight| %>
  <tr>
    <td><%= loseweight.weight %></td>
    <td><%= loseweight.hipline %></td>
    <td><%= loseweight.legline %></td>
    <td><%= loseweight.update_date %></td>
	<td><%= if(loseweight.gmt_create)
		loseweight.gmt_create.strftime('%Y-%m-%d %H:%M:%S') 
		end %></td>
	<td><%= loseweight.remark %></td>
    <td><%= link_to '显示', loseweight,:class=>"btn dropdown-toggle"  %>
    <%= link_to '编辑', edit_loseweight_path(loseweight),:class=>"btn dropdown-toggle"  %>
    <%= link_to '删除', loseweight, confirm: '确定要删除此项吗?', method: :delete,:class=>"btn dropdown-toggle"  %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to '填写日志', new_loseweight_path,:class=>"btn dropdown-toggle" %>

<div >
	<img src='<%=@img_url%>'/>
</div>
